node_modules/

.node_modules/
*.config
.settings
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.eslintcache
/lib/
.env
package-lock.json
pnpm-lock.yaml
package-lock.json
rollup.config.js
__test__
dist 
dist/
build/
build
accessLog/